body {
    font-family: 'Pretendard-Regular';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    transition: all 0.4s ease;
    overflow-x: hidden;
}

:root {
    --bs-body-bg: white;
    --bs-body-color: black;
}

[data-bs-theme="dark"] {
    --bs-body-bg: rgb(21, 23, 27);
    --bs-body-color: white;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* tombol */

.dynamic-btn {
    color: #212529;
    border: 1px solid #212529;
    background-color: transparent;
    animation: 0.5s ease-in-out;
    width: fit-content;
}

.dynamic-btn2 {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    animation: 0.5s ease-in-out;
}

.dynamic-btn:hover {
    background-color: #212529;
    border: 1px solid black;
    animation: 0.5s ease-in-out;
    color: #fff;
}

.dynamic-btn2:hover {
    background-color: white;
    animation: 0.5s ease-in-out;
    color: black;
}
